

<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/styles/home.css" />
</head>
  <body>
<%- include('partials/header.ejs') %>

<div class="container mt-5">    
    <h1 class="display-5 fw-bold  hero-title">About Us</h1>
    <p class="lead">Welcome to our blog website! We are passionate about sharing knowledge and insights on various topics. Our team of writers is dedicated to providing high-quality content that informs, entertains, and inspires our readers.</p>
    <p>Whether you're looking for the latest trends, in-depth analysis, or just a good read, you'll find it here. Thank you for visiting, and we hope you enjoy our blogs!</p>
</div>

       
      </body>
</html>
