
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/styles/home.css" />
</head>
  <body>
<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1 class="display-5 fw-bold  hero-title">Contact Us</h1>
    <p class="lead">We would love to hear from you! If you have any questions, feedback, or just want to say hello, feel free to reach out to us.</p>
    <p>Email: <a href="mailto:info@blogwebsite.com">info@blogwebsite.com</a></p>
</div>

       
      </body>
</html>
